<!DOCTYPE html>
<html>
    <head> 
        <title>
            <%= title %>
        </title>
        <link href="public/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="public/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="public/css/default.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    <body> 
        <div class="container">
            <%- body %> 
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/js/default.js"></script>
</html>